{% load static %}
{% load i18n %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li {% if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
          <a class="nav-link" href="{% url 'index' %}">{% trans 'Home' %}</a>
        </li>
        <li {% if 'search' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
          {% endif %}>
          <a class="nav-link" href="{% url 'search' %}">{% trans 'Find a car' %}</a>
        </li>
        <li {% if 'services' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
          {% endif %}>
          <a class="nav-link" href="{% url 'services' %}">{% trans 'Service' %}</a>
        </li>
        <li {% if 'contact' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
          {% endif %}>
          <a class="nav-link" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
        </li>
      </ul>
    </div>
    <div id="lang" data-url="{% url 'set_language' %}">
      {% csrf_token %}
      <img src="{% static 'img/flag_nz.png' %}" height="15" data-lang="en" class="mr-1" alt="lang_nz">
      <img src="{% static 'img/flag_jp.png' %}" height="15" data-lang="ja" class="mr-1" alt="lang_jp">
      <img src="{% static 'img/flag_cn.png' %}" height="15" data-lang="zh-cn" class="mr-1" alt="lang_cn">
      <img src="{% static 'img/flag_ko.png' %}" height="15" data-lang="ko" class="mr-1" alt="lang_ko">
    </div>
  </div>
</nav>