{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %} | Browse Car Listings {% endblock %}

{% block content %}
<section class="py-5 text-white" id="search">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <form action="{% url 'search' %}" id="searchForm" data-models-url="{% url 'ajax_load_models' %}">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <select name="manufacturer" id="manufacturer" class="form-control">
                                <option>Any make</option>
                                {% for manufacturer in manufacturer_choices %}
                                    <option value="{{ manufacturer.id }}"
                                        {% if values.manufacturer|add:"0" == manufacturer.id %}
                                            selected
                                        {% endif %}
                                    >{{ manufacturer.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select name="model" id="carmodel" class="form-control">
                                <option selected="true" disabled="disabled">--------</option>
                                {% if model_choices %}
                                    {% for carmodel in model_choices %}
                                        <option value="{{ carmodel.id }}"
                                            {% if values.model|add:"0" == carmodel.id %}
                                                selected
                                            {% endif %}
                                        >{{ carmodel.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <input type="text" name="price_from" class="form-control" placeholder="Price from"
                                value="{{ values.price_from }}">
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" name="price_to" class="form-control" placeholder="Price from"
                                value="{{ values.price_to }}">
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                </li>
                <li class="breadcrumb-item active">{% trans 'Browse Cars' %}</li>
            </ol>
        </nav>
    </div>
</section>
<div>
    {{ values }}
</div>

<!-- Listings -->
<section id="cars" class="py-4">
    <div class="container">
        <div class="row">
            {% if cars %}
            {% for car in cars %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-2">
                    <img class="card-img-top" src="{{ car.photo_main.url }}" alt="{{ car.title }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ car.title }}</h3>
                        <h5 class="text-center text-success mb-2"><i>${{ car.price | intcomma }}</i></h5>
                        <div class="p-1">
                            {{ car.get_body_type_display }}, {{car.engine_size}}cc, {{car.get_energy_source_display}}, {{car.odo | intcomma}}km,
                            {{ car.get_transmission_display }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'car_details' car.id %}" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No Listings Available</p>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if cars.has_other_pages %}
                <ul class="pagination">
                    {% if cars.has_previous %}
                    <li class="page-item">
                        <a href="?page={{cars.previous_page_number}}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for i in cars.paginator.page_range %}
                    {% if cars.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if cars.has_next %}
                    <li class="page-item">
                        <a href="?page={{cars.next_page_number}}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        console.log()

        $("#manufacturer").change(function () {
            var url = $("#searchForm").attr("data-models-url");
            var manufacturer_id = $(this).val();
            
            $.ajax({
                url: url,
                data: {
                    'manufacturer': manufacturer_id
                },
                success: function (data) {
                    var jsonData = JSON.parse(data);
                    $('#carmodel').empty().append('<option selected="true">--------</option>')
                    for(var model of jsonData){
                        $('#carmodel').append(`<option value=${model.pk}>${model.fields.name}</option>`)
                    }
                }
            })
        })   
    });
</script>
{% endblock %}